@import "tailwindcss";

:root {
  --background: #02040A;
  /* midnight-blue */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cheetah-gold: #D9A036;
  --color-midnight-blue: #02040A;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  background-color: #02040A;
  /* Fallback hardcoded dark color */
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}